<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.mokai.smpp" version="1.1.0">
	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="logica-api" path="lib/smpp-1.1.0.jar" type="code" />
	</runtime>
	
</plugin>