<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.mokai.jetty" version="1.0.0">
	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="jetty-servlet" path="lib/jetty-servlet-8.1.4.v20120524.jar" type="code" />
	</runtime>
	
</plugin>