GET 	/										dashboard#index

GET 	/sessions/new							sessions#newForm
POST	/sessions								sessions#create
DELETE	/sessions								sessions#delete

PUT 	/admin									admin#changePassword

GET		/connections							connections#index
GET 	/connections/{id}						connections#show
POST	/connections/{id}/start					connections#start
POST	/connections/{id}/stop					connections#stop

GET		/applications							applications#index
GET		/applications/{id}						applications#show
POST	/applications/{id}/start				applications#start
POST	/applications/{id}/stop					applications#stop

GET 	/messages/connections					messages#connections
GET		/messages/applications					messages#applications

GET 	/jmx									jmx#index
GET 	/jmx/{mbean}							jmx#show
GET		/jmx/{mbean}/attributes/{attribute} 	jmx#showAttribute
POST	/jmx/{mbean}/attributes/{attribute}		jmx#updateAttribute
POST	/jmx/{mbean}/operations/{operation}		jmx#invoke