<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.mokai.smpp.server" version="1.0.0">
	
	<runtime>
		<library id="core" path="classes/" type="code">
			<export prefix="*" />
		</library>
		<library id="smpp-server" path="lib/smpp-server-0.4.2.jar" type="code" />
		<library id="ch-smpp" path="lib/ch-smpp-5.0.6.jar" type="code" />
		<library id="ch-util" path="lib/ch-commons-util-6.0.1.jar" type="code" />
		<library id="ch-charset" path="lib/ch-commons-charset-3.0.2.jar" type="code" />
		<library id="netty" path="lib/netty-3.9.0.Final.jar" type="code" />
	</runtime>
	
</plugin>