<?xml version="1.0" ?>
<!DOCTYPE plugin PUBLIC "-//JPF//Java Plug-in Manifest 1.0" "http://jpf.sourceforge.net/plugin_1_0.dtd">
<plugin id="org.mokai.rabbitmq" version="1.0.0">
	
    <runtime>
        <library id="core" path="classes/" type="code">
            <export prefix="*" />
        </library>
        <library id="amqp-client" path="lib/amqp-client-3.2.4.jar" type="code" />
        <library id="gson" path="lib/gson-2.6.2.jar" type="code" />
    </runtime>
	
</plugin>