html, body {
	background: #eee;
	color: #444;
	height: 100%;
	min-height: 100%;
}

form {
	margin: 0px;
	padding: 0px;	
}

/* Login Page */
div#login .modal-header {
	background: #111; 
	color: white;	
}

.alert {
	-webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; 
	margin-bottom: 0px;
}

.header-space {
	margin-top: 40px;
}

/* Dashboard Page */
.metrics {
	background: white;
	padding: 20px 20px 10px;
	margin: 30px -20px 0 -20px;
	border: 1px solid #DDD;
	border-radius: 6px 6px 0 0;
}
.metrics .metric {
	float: left;
	width: 32%;
	border: 1px solid white;
	text-align: center;
}
.metrics .metric span.number {
	font-size: 34px;	
	color: #666;
}
.metrics .metric span.red {
	color: #870303;	
}
.metrics .metric span.tag {
	display: block;
	color: #999;
}

#body {
	background: whiteSmoke; 
	margin-right: -20px; 
	border-width: 0 1px 1px 1px; 
	border-color: #ddd; 
	border-style: solid; 
	border-radius: 0 0 6px 6px; 
	-webkit-border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	min-height: 400px; 
	padding:20px 10px 10px 10px;	
}

#body h3 {
	padding-bottom: 10px;	
}

div.left {
	float:left;	
}
div.right {
	float: right	
}

section.connector {
	background: white;
	border: 1px solid #ccc;
	min-width: 260px;
	margin-bottom: 20px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}
section.connector header {
	overflow: auto;
	color: white;
	line-height: 13px;
	text-shadow: -1px -1px black;
	background: #666;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666), to(#333));
	background-image: -webkit-linear-gradient(top, #666, #333);
	background-image: -o-linear-gradient(top, #666, #333);
	background-image: -moz-linear-gradient(#666, #333);
	background-image: linear-gradient(top, #666, #333);	
}
section.connector header .left {
	padding:5px 8px;
}
section.connector header .right {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 41px;
	padding:5px 8px;
}
section.connector header small {
	font-size: 12px;
	color: #ccc;	
}
section.connector header .divider {
	float: right;
	padding: 0; 
	width: 1px; 
	height: 41px; 
	background: #333; 
	border-right: 1px solid #666;	
}
section.connector > div {
	clear:both;	
	overflow: auto;
	padding:5px;
}
section.connector .queued {
	color: #999;
	line-height: 21px;
	padding-left: 5px;	
}
section.connector .queued span {
	color: #333;
	font-size: 16px;
	line-height: 21px;	
}
section.connector .status {
	display: none;
	
	width: 60px;	
	text-align: center;
	color: white;
	font-size: 11px;
	font-weight: bold;
	padding: 2px 2px;
	margin-right: 2px;
	border-radius: 3px;
}

section.connector.status-ok {
	background: white;
}
section.connector.status-ok .status {
	display: inline-block;
	background: #7a9633;
	background-image: -webkit-gradient(linear,00,0100%,from(#7a9633),to(#577A21));
	background-image: -webkit-linear-gradient(top,#7a9633,#577A21);
	background-image: -o-linear-gradient(top,#7a9633,#577A21);
	background-image: -moz-linear-gradient(top,#7a9633,#577A21);
	background-image: linear-gradient(top,#7a9633,#608825);
	text-shadow: -1px -1px #3f5918;
}
section.connector.status-ok .status:before {
	content: "OK";
}

section.connector.status-failed {
	background: #ebdbda;
}
section.connector.status-failed .status {
	display: inline-block;
	background: #963333;
	background-image: -webkit-gradient(linear,00,0100%,from(#963333),to(#7a2121));
	background-image: -webkit-linear-gradient(top,#963333,#7a2121);
	background-image: -o-linear-gradient(top,#963333,#7a2121);
	background-image: -moz-linear-gradient(top,#963333,#7a2121);
	background-image: linear-gradient(top,#963333,#7a2121);
	text-shadow: -1px -1px #401111;
}
section.connector.status-failed .status:before {
	content: "Failed";
}

/* Messages Page */
form.form-inline > * {
	margin-right: 8px;
}

form#filter-messages {
	margin-top: 10px; 
	margin-bottom:10px;
}

#messages-table {
	width: 100%; 
	max-height: 80%; 
	overflow: auto;
}

#messages-table table th, table td {
	white-space:nowrap; 
}

/* JMX Page /*/
div#jmx {
	margin-top: 20px; 
}

div#jmx .featured {
	overflow: auto;
	margin-bottom: 20px;
}
div#jmx .featured > div {
	float:left;
	padding: 10px;
	text-align: center;
}
div#jmx .featured span.value {
	font-size: 24px;
}
div#jmx .featured span.tag {
	display:block;
	font-size: 12px;
	color: #999;
}

div#jmx .mbeans {
	overflow-x: auto; 
	background:white; 
	border: 1px solid #ccc;
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
div#jmx .mbeans .panel {
	float:left; 
	height: 100%;
}

div#jmx .mbeans #mbeans_list {
	overflow: auto; 
	width: 30%; 
	border-right: 1px solid #ccc;
}

div#jmx .mbeans #mbean_info {
	width: 68%; 
	padding: 5px; 
	border-left: 1px solid #ccc; 
	margin-left: -1px;
}
div#jmx .mbeans #mbean_info .back {
	display: none;
}

div#jmx ul li a {
	color:#666;
}

div#jmx div#mbeans_list ul {
	padding: 15px;
	margin: 0;
}

div#jmx div#mbeans_list ul > li {
	list-style-type: none;
	list-style-image: url('https://s3.amazonaws.com/infinanza-public/images/right.gif');
	list-style-position:inside;
	padding: 2px 0 2px 10px;
	cursor: hand;
	cursor: pointer;
}
div#jmx div#mbeans_list ul > li.item_open {
	list-style-image: url('https://s3.amazonaws.com/infinanza-public/images/down.gif');
}
div#jmx div#mbeans_list ul > li.item_open > a {
	font-weight: bold;
}

div#jmx div#mbeans_list ul > li > ul {
	padding: 0;
	margin: 0;
}

div#jmx div#mbeans_list ul > li > ul > li {
	white-space:nowrap; 
	list-style-type: none;
	padding: 2px 0 2px 20px;
}

div#jmx #mbean_info header {
	font-size: 13px;
	line-height: 1em;
	padding: 10px;
	border-bottom: 1px solid #999;
	margin-bottom: 15px;
	color: #444;
	white-space:nowrap;
	overflow: auto;
}

div#jmx #mbean_info header h1 {
	font-size: 18px;
	line-height: 1.4em;
	font-weight: normal;
	color: #999;
}

div#jmx #mbean_info header h2 {
	font-size: 12px;
	line-height: 1.4em;
	font-weight: normal;
	margin-bottom: 15px;
	color: #999;
}

div#jmx #mbean_info header p {
	margin-bottom: 0;
}

div#jmx #mbean_info section {
	padding: 10px;
	overflow: auto;
}

div#jmx #mbean_info section h3 {
	margin-bottom: 10px;
}

div#jmx #mbean_info section .attributes {
	overflow: auto;
}

div#jmx #mbean_info section .operation {
	border-bottom: 1px solid #ccc; 
	padding: 10px; 
	margin-bottom: 10px;
}

div#jmx #mbean_info section .operation span.name {
	font-size: 18px; 
	color: #666;
}

div#jmx #mbean_info section .operation span.return_type {
	float:right; 
	font-size: 13px; 
	color: #999; 
	line-height: 21px;
}

div#jmx #mbean_info section .operation span.params {
	display: block; 
	font-size: 13px; 
	color: #999; 
	margin-bottom: 5px;
}

div#jmx #mbean_info section .operation span.params em {
	color: #666; 
	font-style: normal;
}

div#jmx #mbean_info section .operation span.description {
	display: block; 
	font-size: 12px; 
	color: #666;
}

div#jmx #mbean_info section .operation .actions {
	text-align:right;
}

#fade {
	display: none; 
	position: fixed; 
	width: 100%; 
	height: 100%; 
	top: 0px; 
	left: 0px; 
	background: rgba(0, 0, 0, 0.7); 
	z-index: 1999;
}
#loading {
	position:fixed; 
	border:1px solid #ccc; 
	left: 50%; 
	top: 50%; 
	z-index: 2000; 
	background:#fff; 
	border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;
	margin-top: -31px; 
	margin-left: -31px; 
	padding:15px; 
	text-align:center;
}

.description {
	color: #ccc;
}


/* Landscape phones and down */
@media (max-width: 480px) {
	.metrics .metric span.number {
		font-size: 24px;	
	}
	.metrics .metric span.tag {
		font-size: 11px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.metrics {
		margin-top: 0px;
	}
	
	div#jmx ul li a {
		font-size: 14px;
	}
	div#jmx .mbeans #mbeans_list {
		width: 100%;
	}
	div#jmx .mbeans #mbeans_list ul > li {
		padding-top: 4px;
		padding-bottom: 4px;
	}
	
	div#jmx .mbeans #mbean_info {
		display: none;
	}
	div#jmx .mbeans #mbean_info .back {
		display: block;
	}
	div#jmx .mbeans.mbean_view #mbean_info {
		display: block;
		width: 98%;
	}
	div#jmx .mbeans.mbean_view #mbeans_list {
		display: none;
	}
}

@media (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.row {
		margin-left: -20px;
	}
	.header-space {
		margin-top: 0px;
	}
	#content {
		padding-top: 0px;
	}	
	#password_changed_alert {
		margin: 0 -20px;	
	}
}

@media (min-width: 1200px) {
	.row {
		margin-left: -20px;
	}
}