@import url(../reindeer/styles.css);

.v-table-row, .v-table-row-odd {
	height:25px;
}

.v-table-cell-content {
    vertical-align: middle;
}

.v-table-cell-content-red {
	background-color: #FF8080;
}

.v-table-cell-content-green {
	background-color: #CEE3AA;
}

.v-table-cell-content-gray {
	background-color: gray;
}

.v-verticallayout-header .v-verticallayout-margin, .v-horizontallayout-header .v-horizontallayout-margin {
	padding-left:   10px;
	padding-right:  10px;
	padding-top:    5px;
	padding-bottom: 5px;
}

.v-horizontallayout-menu {
	padding-left:    0px;
	padding-right:  20px;
	padding-top:     0px;
	padding-bottom:  5px;
}

.v-button-menu .v-button-caption {
	color: #FFF;
	text-decoration: none;
	padding-left:	20px;
}

.v-horizontallayout-green {
	background-color: #CEE3AA;	
}

.v-horizontallayout-red, .v-verticallayout-red {
	background-color: #F23336;	
}

.v-label-right {
	text-align: right;	
}

.v-label-red {
	color: #F23336;
}

.border {
	border-style: solid;
	border-width: 1px;
	border-color: #C2C2C2;
}